<h1>Sign up</h1>
<p>Hello!</p>
<%= form_tag("create", method: "post") do %>
  <%= label_tag("user[username]", "Enter a username.") %>
  <%= text_field_tag("user[username]") %>
  <%= label_tag("user[email]", "Enter your email address.") %>
  <%= text_field_tag("user[email]") %>
  <%= label_tag("user[password]", "Enter a password.") %>
  <%= text_field_tag("user[password]") %>
  <%= submit_tag("Create user.") %>
<% end %>
