<div id="header">
  <h1>Welcome to the Social Network!</h1>
  <% if user_signed_in? %>
    <%= link_to "Edit your profile", edit_user_registration_path %>
    <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
    <% current_user.waiting_friend_requests.each do |request| %>
      <%= render 'users/respond_to_friend_request', user: request.initiator, friendship: request %>
    <% end %>
  <% else %>
    <%= link_to "Sign in", new_user_session_path %> or <%= link_to "create an account", new_user_registration_path %> to see more.
  <% end %>
</div>
<hr>
