<div class="user">
  <h2> Name: <%= user.name %></h2>
  <ul>
    <li> Contact: <%= user.email %> </li>
  </ul>
  <% if user.profile_pic %>
    <%= image_tag user.profile_pic.url(:thumb) %>
  <% end %>
  <% if current_user %>
    <% if current_user.stranger?(user) %>
      <%= render 'users/add_friend', user: user %>
    <% elsif current_user.friend?(user) %>
      <%= render 'users/remove_friend', user: user %>
    <% end %>
  <% end %>
</div>
