<div class="flight" id=<%= "flight-#{flight.id}" %>>
  <%= flight.origin.code %> to <%= flight.destination.code %>, departing at <%= flight.departure_time.in_time_zone('Pacific Time (US & Canada)') %> and lasting <%= flight.display_duration %>
</div>
