<h1>Pick a flight!</h1>

<%= form_tag("/", method: "get") do %>
  Origin:
  <%= select_tag(:origin_id, options_for_select(@airport_options, @origin_id)) %>
  <br />
  <br />
  Destination:
  <%= select_tag(:destination_id, options_for_select([nil] + @airport_options, @destination_id)) %>
  <br />
  <br />
  Departure date:
  <%= select_tag(:date, options_for_select([nil] + @dates.zip(@dates), @date)) %>
  <br />
  <br />
  Number of passengers:
  <%= select_tag(:passenger_count, options_for_select((1..4).zip(1..4), @passenger_count)) %>
  <br />
  <br />
  <%= submit_tag("Find flights!") %>
<% end %>

<hr />

<% if @flights %>
  <div>Your search matches the following <b id="result-count"><%= @flights.count %></b> flights. Pick one to make your booking for <b id="passenger-count"><%= @passenger_count || 1 %></b> passengers.</div>
  <br />
  <%= form_for(:booking, url: 'bookings/new', method: 'get') do |f| %>
    <%= hidden_field_tag :passenger_count, @passenger_count || 1 %>
    <% @flights.each do |flight| %>
      <%= radio_button_tag(:flight_id, flight.id) %>
      <%= render flight %>
      <% #lack of label means clicking on flight description won't select flight. oh well. %>
      <br />
    <% end %>
    <%= f.submit "Book flight!" %>
  <% end %>
<% end %>
